.DS_Store
signupform/
admindashboard/
etchasketch/
libraryproject/
restaurantwebpage/
todolist/
node_modules/
.env

# Node modules
restaurantwebpage/node_modules/
expresstodolist/node_modules/
weatherapp/node_modules/

# dist directory
restaurantwebpage/dist/
expresstodolist/dist/
weatherapp/dist/