* {
    margin: 0;
    padding: 0;
}

.footer {
    display: flex;
    justify-content: flex-end;
}

img {
    height: 50px;
}

.header-container {
    display: flex;
    justify-content: center;
}

.button-container {
    display: flex;
    justify-content: center;
    margin: 35px;
}

.reset-button {
    padding: 10px;
    margin-top: 10px;
}

.grid-button {
    padding: 15px;
    margin: 10px;
}

.grid-button-header {
    display: flex;
    justify-content: center;
    margin: 35px;
}

.grid-button-items {
    display: flex;
    justify-content: center;
    margin: 35px;
}

.container {
    display: flex;
    justify-content: center;
    margin: 10px;
}

.content-container {
    border-style: solid;
    display: grid;
    /* grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr); */
    width: 25em;
    height: 25em;
}

.rowGrid {
    border-style: solid;
    border-width: thin;
}