* {
    margin: 0;
    padding: 0;
}

.top {
    background: linear-gradient(90deg, rgba(255,0,78,1) 1%, rgba(224,117,22,1) 21%, rgba(255,231,107,1) 100%);
    
    padding: 25px;
    height: 100%;
    width: 100%;
}

.dashboard-header-container {
    display: flex;
    justify-content: center;

    border-width: 2px;
    border-style: solid;
    border-radius: 10px;
    border-image: linear-gradient(90deg, rgba(255,0,78,1) 1%, rgba(224,117,22,1) 21%, rgba(255,231,107,1)) 1;

    padding: 20px;
    margin: 10px;
    height: 100%;
    width: 100%;
}

.dashboard-header-text {
    display: flex;
    align-items: center;
}

.dashboard-header-image {
    display: flex;
    align-items: center;
}

img {
    width: 50px;
    padding-right: 10px;
}

.header {
    display: flex;
    justify-content: center;

    margin-top: 25px;
    height: 100%;
    width: 100%;
}

.content {
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;
    border-image: linear-gradient(90deg, rgba(255,0,78,1) 1%, rgba(224,117,22,1) 21%, rgba(255,231,107,1)) 1;

    margin-top: 10px;
    padding-bottom: 400px;
    height: 100%;
    width: 100%;
}

.task-button {
    display: flex;
    justify-content: center;

    margin-top: 10px;
}

button {
    padding: 10px;
}