* {
    margin: 0;
    padding: 0;
}

.top {
    background: linear-gradient(90deg, rgba(255,0,78,1) 1%, rgba(224,117,22,1) 21%, rgba(255,231,107,1) 100%);
    
    padding: 25px;
    height:100%;
    width:100%;
}

.home-header-container {
    display: flex;
    justify-content: center;

    border-width: 2px;
    border-style: solid;
    border-radius: 10px;
    border-image: linear-gradient(90deg, rgba(255,0,78,1) 1%, rgba(224,117,22,1) 21%, rgba(255,231,107,1)) 1;

    margin: 20px;
    padding: 20px;

}

.home-header-text {
    display: flex;
    align-items: center;
}

.home-header-image {
    display: flex;
    align-items: center;
}

img {
    width: 50px;
    padding-right: 10px;
}

.home-button-container {
    display: flex;
    justify-content: center;

    border-width: 2px;
    border-style: solid;
    border-radius: 10px;
    border-image: linear-gradient(90deg, rgba(255,0,78,1) 1%, rgba(224,117,22,1) 21%, rgba(255,231,107,1)) 1;

    margin: 20px;
    padding: 50px;
}

.home-button-login {
    margin-right: 50px;
}

button {
    padding: 10px 20px 10px 20px;
}