* {
    margin: 0;
    padding: 0;
}

.footer {
    display: flex;
    justify-content: flex-end;
}

img {
    height: 50px;
}

.display-container {
    display: flex;
    justify-content: center;
}

.display-result {
    margin-top: 20px;
    margin-left: 175px;
    font-weight: bold;
    font-size: xx-large;
}

.calculator-container {
    display: flex;
    justify-content: center;
}

.button-container {
    display: grid;
    /* grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr); */
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}

.button-wrapper {
    margin: 10px;
}

.button-wrapper-result {
    margin: 10px;
    grid-column: span 2;
}

button {
    padding: 20px;
}

.result {
    background-color: orange;
    padding-left: 70%;
    font-size: medium;
}

.operator {
    background-color: wheat;
}